@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #18181b !important;
  max-width: 1600px !important;
  margin: auto !important;
}

.hero-container {
  padding: 3rem 2rem;
}
.hero-container p {
  text-align: left;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #1d4ed8;
  z-index: -100;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .content h4 {
  margin-bottom: 1rem;
  color: #ccc;
  font-size: 1rem;
  font-weight: 600;
}

header .content h1 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content p {
  margin-bottom: 2rem;
  color: #ccc;
}

header .image {
  position: relative;
}

header .image img {
  border-radius: 50% 50% 30% 30% / 25% 25% 30% 30%;
  max-height: 500px;
  object-fit: contain;
}

header .image::before {
  content: "o";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 38rem;
  font-weight: 400;
  line-height: 20rem;
  color: #1d4ed8;
  opacity: 0.2;
  z-index: -100;
}

header .image img {
  max-width: 600px;
  margin: auto;
}

section .header {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.nav-link {
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

@media (max-width: 893px) {
  .nav-link::before {
    width: 30%;
  }
}

#about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  color: white;
}

@media (max-width: 870px) {
  #about-me {
    flex-direction: column;
    text-align: center;
  }

  #projects {
    margin-left: 20px;
  }

  #who-am-i {
    margin: 50px 0;
  }


  .skill {
    height: 56px !important;
    width: 56px !important;
  }
  .flex-item {
    height: 46px !important;
    width: 46px !important;
  }
  .hero-container p {
    text-align: center;
  }
}

#profile-image {
  max-width: 500px;
  max-height: 500px;
  border-radius: 100px;
  object-fit: cover;
  vertical-align: left;
  margin: 20px;
}

#who-am-i {
  margin: 0 50px;
}

#web-dev-projects {
  margin: 80px;
}

.link-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#web-dev-projects {
  color: white;
  text-align: center;
}

footer .column .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer .column .socials a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

footer .column .socials a:hover {
  color: #fff;
  background-color: #1d4ed8;
  border-color: #1d4ed8;
}

footer .column > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

footer .column > a:hover {
  color: #1d4ed8;
}

#technical-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: auto;
  align-items: center;
}

@media (max-width: 1350px) {
  #technical-skills {
    justify-content: center;
  }
}

.flex-item {
  width: 76px;
  height: 76px;
}

.skill {
  height: 86px;
  width: 86px;
  background-color: whitesmoke;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: box-shadow 0.3s ease;
}

.skill:hover {
  transform: scale(1.25);
  box-shadow: 0 5px 20px rgba(42, 84, 198, 0.895);
}

@media (width < 900px) {
  .nav-links {
    display: none;
  }
  header {
    grid-template-columns: repeat(1, 1fr);
  }
  header .image {
    grid-area: 1/1/2/2;
  }
  footer {
    grid-template-columns: 1fr 200px;
  }
  .hero-container .content h4,
  .hero-container .content h1 {
    text-align: center;
  }

  .hero-container .btn {
    width: 100%;
    margin: auto;
  }
}

@media (width < 600px) {
  header .image::before {
    display: none;
  }

  footer {
    grid-template-columns: 1fr 150px;
  }

  .hero-container .content h1 {
    font-size: 25px;
    line-height: normal;
  }
  .grid-item {
    width: 46px;
    height: 46px;
  }
  .hero-container .btn {
    width: 100%;
  }
  .hero-container {
    padding-top: 20px;
  }

  .nav-logo a {
    font-size: 2rem;
    color: white;
  }

  .hero-container .content h4,
  .hero-container .content h1 {
    text-align: center;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container {
  height: auto;
  min-height: 450px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-start;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  padding: 10px;

}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  width: auto;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}
.card .description a {
  display: none;
}

.card.expanded .description a {
  display: block;
}

input {
  display: none;
}

input:checked + label {
  min-width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-color: #18181b;
  background-image: url("./Assets/optirenew.png");
}
.card[for="c2"] {
  background-color: #18181b;
  background-image: url("./Assets/myshoecharms.png");
}
.card[for="c3"] {
  background-color: #18181b;
  background-image: url("./Assets/yourvinylsource.png");
}
.card[for="c4"] {
  background-color: #18181b;
  background-image: url("./Assets/artoscapes.png");
}


@media (max-width: 987px) {

  .container {
    flex-direction: column;
    align-items: center;
    height: auto; 
  }

  .card {
    width: 90%; 
    margin: 10px 0;
    height: auto; 
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99), width 0.6s ease; 
  }

  input:checked + label {
    min-width: 90vw;
    height: 70vh;
  }
  .card.expanded .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  .card.expanded > .row {
    margin: 0 auto 10px auto;
    width: 80vw;
  }
.card[for="c1"] > .row 
.card.expanded[for="c1"],
  .card.expanded[for="c2"],
  .card.expanded[for="c3"],
  .card.expanded[for="c4"] {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .card.expanded[for="c1"] {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card > .row > .icon{
    display: none;
  }


}
